@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./layout/footer";

/* 
@import "./pages/work";
 */
@import "./pages/about";
@import "./pages/project";


.newtag {
    border-radius: 4px;
    padding: 8px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 54%;
    margin-top: 5%;
    position: absolute;
    background-color: $color-accent;
    @include darker-colour(color, false, $color-accent, white, 40%);
}

li {
    a:hover {
        figure {
            @include darker-colour(background-color, false, $color-accent, white, 0%);
            // box-shadow: 15px 15px 15px blue;
        }
    }
    .fullheart {
        display: none;
    }
    .heartsdiv {
        margin-bottom: 10px;
    }
    .heartsdiv:hover {
        .emptyheart {
            display: none;
            color: red;
        }
        .fullheart {
            display: block;
            color: red;
        }
        .fullheart:hover {
            transition: transform 300ms ease-in-out;
            transform: scale(1.20);
        }
    }
    .fullheart:hover {
        display: block;
        color: red;
    }


}

#restaurantname {
    width: 100%;
    display: flex;
    flex-direction: row;
    .fa-heart {
        font-size: 20px;
    }
}    

.arrowdiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 85%;
    position: absolute;
    font-size: 20px;
}

.text {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


.menusection{
    margin-top: -55px;
    background-color: yellowgreen;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.menucoursetitle {
    font-weight: lighter;
    width: 100%;
    #menucoursetitledivider{
        margin-top: 2px;
        height: 3px;
        width: 40px;
        background-color: $color-accent;
    }
}

.menulist {
    padding: 0px; 
    width: 100%;
    li {
        box-shadow: 5px 5px 10px $colour-box-shadow;
        margin-bottom: 25px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: $border-radius;
        background-color: $colour-background;
        overflow: hidden;

        .menulistitem {
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow: hidden;
        }
        .dishcontainerdiv {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            transition: width 0.2s ease-in-out;

            .dish {
                padding-left: 15px;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                height: 50%;
            }
            .dishdescription {
                padding-left: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                height: 50%;
                .dishtext {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding-right: 10px;
                }

                .dishprice {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: bottom;
                    border-bottom-right-radius: $border-radius;
                    height: 100%;
                    font-weight: bold;
                    padding:10px;
                }
            }
        }
        .checkmark {
            overflow: hidden;
            transition: width 0.2s ease-in-out;
            width: 0px;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            background-color: $color-accent;
            color: white;            
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            .fa-check{
                transform: rotate(0deg);
                font-size: 15px;
                color: $color-accent;
                border-radius: 50%;
                margin-left: 12px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $colour-background;
            }
        }

        .menulistitem:hover {
            cursor: pointer;
            .checkmark {
                transition: width 0.2s ease-in-out;
                width: 55px;
                margin-right: -1px;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                background-color: $color-accent;
                color: white;
                .fa-check {
                    font-size: 15px;
                    color: $color-accent;
                    border-radius: 50%;
                    background-color: $colour-background;
                    transform: rotate(360deg);
                    transition: transform 250ms ease-in-out;
                }
            }
            .dishcontainerdiv {
                transition: width 0.2s ease-in-out;
                width: 260px;
            }
        }
    }
}

/*================== fonctionnement ==================*/

#operation {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
// h2 {
//     display: flex;
//     flex-direction: row;
// }


    ul.operationlist>li {
        padding: 20px;
        margin-left: -22px;
        width: 250px;
        border-radius: $border-radius;
        background-color: $colour-background-alt;
        box-shadow: 5px 5px 10px $colour-box-shadow;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;   

        .operationbutton__container {
            width: 0px;
            /* cette div existe simple pour que sa div fille, operationnumber (ou la div de l'icône fontawesome), ne pousse pas les autres éléments du bouton; elle a donc une width de 0px */

            .operationbutton__number {
                margin-left: -38px;
                width: 34px;
                height: 31px;
                color: white;
                background-color: $colour-secondary;
                padding-top: 2px;
                border-radius: 50%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

            .operationbutton__icon {
                padding-left: 20px;
                padding-right: 20px;
                margin-left: -12px;
                width: 30px;
                /* sur la maquette, la location est centrée, on offset donc le map marker vers la gauche d'autant de pixels qu'il fait de large (26px + 2x10px de padding) pour qu'il n'offset pas la location vers la droite */
            }
        }
        .operationbutton__text {
            padding-left: 40px;
        }
    }
    ul.operationlist>li:hover {
        cursor: pointer;
        @include lighter-background();
    }
}

/*================== restaurants ==================*/

.mainsection {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colour-background-alt;
    // margin-left: -8px;
    // margin-right: -8px;
    .restaurantlist {
        width: 309px;
        background-color: $colour-background-alt;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        li {
            padding-bottom: 25px;
        }
        figure {
            object-fit: cover;
            box-shadow: 5px 5px 10px $colour-box-shadow;
            border-radius: $border-radius;
            margin: 0px;
            .restaurantpicture {
                width: 309px;
                height: 200px;
                object-fit: cover;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
            }
            figcaption {
                padding: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .text {
                    padding: 3px;
                }
            }
            .fa-heart {
                font-size: 25px;
                padding-top: 9px;
            }
        }
    }
}