@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/footer";

@import "./pages/restaurant";
@import "./pages/index.scss";

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


@media all and (min-width: 973px) {
    body {
        max-width: 972px;
        margin: auto;
    }
}

@media all and (max-width: 1080px){
    body{
        padding: 0px;
    }
}

.fullheart {
        margin-top: 1px;
        position: absolute;
        font-size: 0.5px;
        color: transparent;
    }

li {
    a:hover {
        figure {
            @include darker-colour(background-color, false, $colour-hover, white, 0%);
            // box-shadow: 15px 15px 15px blue;
        }
    }
    
    
}
.heartsdiv {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heartsdiv:hover {
    .fullheart {
        margin-top: 1px;
        background: linear-gradient($colour-secondary, $colour-primary);
        background-clip: text;
        color: transparent;
        transition: transform 300ms ease-in-out;
        animation-duration: 0.4s;
        animation-name: fill;
        animation-fill-mode: forwards;
    }
    @keyframes fill {
        from {
                font-size: 0px;
            }
            to {
                font-size: 21px;
            }
        }
}

.text {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.menusection{
    margin-top: -55px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.menucoursetitle {
    font-weight: lighter;
    width: 100%;
    .menucoursetitledivider{
        margin-top: 2px;
        height: 3px;
        width: 40px;
        background-color: $color-accent;
    }
}

.filling-empty-space-childs {
    width:80%;
    height:0 !important; 
}