
header {
    text-align: center;
    background-color: #EDEDED;
}
    a:hover {
        .button {
                cursor: pointer;
                @include darker-colour(background, true);
            }
    }
    a:active { 
        .button {
            @include darker-colour(background, true);
        }
    }

#logodiv {
    box-shadow: 0 4px 2px -2px $colour-box-shadow;
    background-color: $colour-background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #logodiv__logo {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#location {
    padding: 20px;
    .mapmarker {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -46px;
        /* sur la maquette, la location est centrée, on offset donc le map marker vers la gauche d'autant de pixels qu'il fait de large (26px + 2x10px de padding) pour qu'il n'offset pas la location vers la droite */
    }
}

#explore {
    background-color: $colour-background-alt;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#headerpicdiv {
    width: 100%;
    height: 300px;
    background-image: url("../../utilities/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
}

#headerpic {
    width: 100%;
}