@charset "UTF-8";
/* @function lightness-shift($colour) {
    @if (lightness($colour) < 25%){
        @return lighten($colour, 10%);
    }@else{
        @return darken($colour, 10%);
    }
} */
/* 
@mixin box-shadow($horizontal-offset, $vertical-offset, $colour){
    box-shadow: $horizontal-offset $vertical-offset darken($colour, 10%)
}
 */
/* @mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
    text-shadow: $offset $offset $colour;
}

@mixin border($colour:$colour-primary) {
    border: .1rem solid $colour;
}

@mixin img-ratio {
    width: 100%;
        display: block;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
}

@mixin btn {
    padding: $grid-gutter;
    @include border;
    color: $colour-primary;
    background: $colour-secondary;
    cursor: pointer;
    &:hover{
        background: $colour-primary;
        color: $colour-accent;
    }
    &--full-width {
        width: 100%;
        margin: 0 auto;
    }
} */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.sectiontitle {
  width: 312px;
}

body {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}

h2 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 20px;
}

li {
  list-style-type: none;
  display: block;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: white;
  animation-duration: 0.4s;
  animation-delay: 2s;
  animation-name: fadeOutMain;
  animation-fill-mode: forwards;
}

@keyframes fadeOutMain {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -1000;
  }
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border: 8px solid transparent;
  border-radius: 50%;
  border-top-color: #FF79DA;
  animation: spin 1.5s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
  }
  100% {
    transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
  }
  100% {
    transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
  }
}
li:nth-child(1) {
  animation-delay: 0.25s;
}

li:nth-child(2) {
  animation-delay: 0.5s;
}

li:nth-child(3) {
  animation-delay: 0.75s;
}

li:nth-child(4) {
  animation-delay: 1s;
}

#page-main-index {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-name: fadeInMain;
}

@keyframes fadeInMain {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
.dish {
  font-weight: normal;
  font-size: 14px;
}

.dishdescription {
  font-weight: lighter;
  font-size: 12px;
}

.dishprice {
  font-weight: normal;
}

.bigtitletext {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

.minititletext {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  color: white;
}

.button {
  margin-top: 20px;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

/* .btn {
    @include btn
}
 */
header {
  text-align: center;
  background-color: #EDEDED;
}

a:hover .button {
  cursor: pointer;
  background: linear-gradient(#ff46cc, #782cd3);
}

a:active .button {
  background: linear-gradient(#ff46cc, #782cd3);
}

#logodiv {
  box-shadow: 0 4px 2px -2px #d8d8d8;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#logodiv #logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

#location {
  padding: 20px;
}
#location .mapmarker {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -46px;
  /* sur la maquette, la location est centrée, on offset donc le map marker vers la gauche d'autant de pixels qu'il fait de large (26px + 2x10px de padding) pour qu'il n'offset pas la location vers la droite */
}

#explore {
  background-color: #F7F7F7;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headerpicdiv {
  width: 100%;
  height: 300px;
  background-image: url("../../utilities/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
}

#headerpic {
  width: 100%;
}

/* .nav {
    padding-right: $layout-margin;
    flex: 2 1 auto;
    text-align: right;
    &__link {
        display: inline;
        font-size: 3rem;
        padding-left: 1.5rem;
        & a{
        text-decoration: none;
        color: $colour-accent;
        }
        &--active {
            color: $colour-secondary;
            &:hover{
                cursor:default;
                color: $colour-secondary;
            }
        }
        & a:hover{
            color: $colour-white;
        }
    }
} */
/* .container {
    margin: $layout-margin;
    padding: $grid-gutter $grid-gutter 0 $grid-gutter;
    @include border($colour-accent);
}

 */
footer {
  display: flex;
  flex-direction: column;
  background-color: #3f3f3f;
  padding: 30px;
  padding-bottom: 0px;
  color: white;
}
footer #logolight {
  width: 130px;
}
footer .footerlist {
  padding-left: 0px;
}
footer .footericon {
  width: 20px;
  height: 20px;
}
footer .handshake {
  transform: rotate(-45deg);
  font-size: 15px;
}
footer ul.footerlist > li {
  padding-bottom: 10px;
}
footer ul.footerlist > li > a {
  color: white;
  text-decoration: none;
}
footer ul.footerlist > li > a:hover {
  color: #e6e6e6;
}

.newtag {
  margin-top: -32px;
  position: relative;
  width: 70px;
  text-align: center;
  top: 50px;
  left: 205px;
  border-radius: 4px;
  padding: 8px;
  padding-bottom: 7px;
  background-color: #99E2D0;
  color: #278870;
}

.heartsdivrestaurant {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heartsdivrestaurant:hover .fullheart {
  margin-top: -19px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  transition: transform 300ms ease-in-out;
  text-align: center;
  animation-duration: 0.4s;
  animation-name: fillrestaurant;
  animation-fill-mode: forwards;
}
@keyframes fillrestaurant {
  from {
    font-size: 0px;
  }
  to {
    font-size: 17px;
  }
}

.fullheartrestaurant {
  margin: -19px;
}

.menulist {
  padding: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menulist li {
  margin-right: 10px;
  box-shadow: 5px 5px 10px #d8d8d8;
  margin-bottom: 25px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  width: 100%;
  min-width: 280px;
  max-width: 300px;
}
.menulist li .menulistitem {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}
.menulist li .dishcontainerdiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: width 0.2s ease-in-out;
}
.menulist li .dishcontainerdiv .dish {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menulist li .dishcontainerdiv .dishseparator {
  width: 20px;
}
.menulist li .dishcontainerdiv .dishdescription {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 50%;
}
.menulist li .dishcontainerdiv .dishdescription .dishtext {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}
.menulist li .dishcontainerdiv .dishdescription .dishprice {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: bottom;
  border-bottom-right-radius: 20px;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}
.menulist li .checkmark {
  overflow: hidden;
  transition: width 0.2s ease-in-out;
  width: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menulist li .checkmark .fa-check {
  transform: rotate(0deg);
  font-size: 15px;
  color: #99E2D0;
  border-radius: 50%;
  margin-left: 12px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.menulist li .menulistitem:hover {
  cursor: pointer;
}
.menulist li .menulistitem:hover .dishcontainerdiv {
  width: 80%;
}
.menulist li .menulistitem:hover .checkmark {
  transition: width 0.2s ease-in-out;
  width: 20%;
  margin-right: -1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
  color: white;
}
.menulist li .menulistitem:hover .checkmark .fa-check {
  font-size: 15px;
  color: #99E2D0;
  border-radius: 50%;
  background-color: white;
  transform: rotate(360deg);
  transition: transform 250ms ease-in-out;
}
.menulist li .menulistitem:hover .dishcontainerdiv {
  transition: width 0.2s ease-in-out;
}

#restaurantname {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#restaurantname .fa-heart {
  font-size: 20px;
}

.arrowdiv {
  position: absolute;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 275px;
}

@media all and (max-width: 989px) {
  .restaurantlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .restaurantlist li {
    padding-bottom: 25px;
  }
}
@media all and (min-width: 990px) {
  .sectiontitle {
    margin-left: -600px;
  }

  .restaurantlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 700px;
  }
  .restaurantlist li {
    padding-bottom: 30px;
  }
}
.mainsection {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F7F7F7;
}

figure {
  width: 309px;
  object-fit: cover;
  box-shadow: 5px 5px 10px #d8d8d8;
  border-radius: 20px;
  margin: 0px;
}
figure .restaurantpicture {
  width: 309px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
figure figcaption {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
figure figcaption .text {
  padding: 3px;
}
figure .fa-heart {
  font-size: 25px;
  padding-top: 9px;
}

#operation {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#operation ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (max-width: 990px) {
  #operation ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#operation ul.operationlist > li {
  padding: 20px;
  margin-left: -22px;
  width: 230px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 5px 5px 10px #d8d8d8;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
#operation ul.operationlist > li .operationbutton__container {
  width: 0px;
  /* cette div existe simplement pour que sa div fille, operationnumber (ou la div de l'icône fontawesome), ne pousse pas les autres éléments du bouton; elle a donc une width de 0px */
}
#operation ul.operationlist > li .operationbutton__container .operationbutton__number {
  margin-left: -38px;
  width: 34px;
  height: 31px;
  color: white;
  background-color: #9356DC;
  padding-top: 2px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#operation ul.operationlist > li .operationbutton__container .operationbutton__icon {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -12px;
  width: 30px;
  /* sur la maquette, la location est centrée, on offset donc le map marker vers la gauche d'autant de pixels qu'il fait de large (26px + 2x10px de padding) pour qu'il n'offset pas la location vers la droite */
}
#operation ul.operationlist > li .operationbutton__text {
  padding-left: 40px;
}
#operation ul.operationlist > li:hover {
  cursor: pointer;
  background-color: #f2eafb;
}

@media all and (min-width: 973px) {
  body {
    max-width: 972px;
    margin: auto;
  }
}
@media all and (max-width: 1080px) {
  body {
    padding: 0px;
  }
}
.fullheart {
  margin-top: 1px;
  position: absolute;
  font-size: 0.5px;
  color: transparent;
}

li a:hover figure {
  background-color: lightgray;
}

.heartsdiv {
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heartsdiv:hover .fullheart {
  margin-top: 1px;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  transition: transform 300ms ease-in-out;
  animation-duration: 0.4s;
  animation-name: fill;
  animation-fill-mode: forwards;
}
@keyframes fill {
  from {
    font-size: 0px;
  }
  to {
    font-size: 21px;
  }
}

.text {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.menusection {
  margin-top: -55px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.menucoursetitle {
  font-weight: lighter;
  width: 100%;
}
.menucoursetitle .menucoursetitledivider {
  margin-top: 2px;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.filling-empty-space-childs {
  width: 80%;
  height: 0 !important;
}

/*# sourceMappingURL=style.css.map */
