
html {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.operation__sectiontitle {
    width: 312px;
}

body {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
}

h2 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 20px;
}

li {
    list-style-type: none;
    display: block;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; 
    background-color: white;
    animation-duration: 0.4s;
    animation-delay: 2s;
    animation-name: fadeOutMain;
    animation-fill-mode: forwards;
}

@keyframes fadeOutMain {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index:-1000;
    }
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px; 
    border: 8px solid transparent;
    border-radius: 50%;
    border-top-color: $colour-primary;
    animation: spin 1.5s infinite;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#page-main-index {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-name: fadeInMain;
}
@keyframes fadeInMain {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Keyframe animation
@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 100px;
    }
    75% {
        opacity: 0.5;
        top: 0px;
    }
    100% {
        opacity: 1;
    }
}