html {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.sectiontitle {
    width: 312px;
}

body{
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 20px;
}

li {
    list-style-type: none;
}














/* *,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // 10px div by def of 16px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background: $colour-secondary;
} */