.dish {
    font-weight: normal;
    font-size: 14px;
}

.dishdescription {
    font-weight: lighter;
    font-size: 13px;

}
.dishprice {
    font-weight: normal;
}

.bigtitletext {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}

.minititletext {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    color: white;
}